%br
%table
  - @subtexts.all.each do |subt| 
    %tr
      %td
        = subt.subtext
      %td
        = link_to('delete', "/subtexts/#{subt._id}", :method => "DELETE", :confirm => "Sure?") 
        
- form_for('subtext', @subtext, :url => subtexts_url, :method => "POST") do |f| 
  = f.label :subtext
  %br
  = f.text_field 'subtext'
  %br
  = f.submit 'Create Subtext'