#post_manage_container
  - @unapproved_posts.each do |up| 
    .post
      = up.subtext
      = up.text
      %br
      = link_to("Approve", "/posts/manage/#{up._id}/approve")
      = link_to("Deny", "/posts/manage/#{up._id}/deny")
  - @approved_posts.each do |ap| 
    .post
      = ap.subtext
      = ap.text
      = link_to("Delete", "/posts/#{ap._id}", :method => "DELETE")